<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} brennen.dev$
RewriteCond %{REQUEST_URI} !^/u/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^(.*)$ $1.html
RewriteRule ^(.*)$ /u/$1
RewriteRule ^(/)?$ u/yourls-loader.php [L] 
</IfModule>
